.body {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 320px;
    height: 410px;
    background-color: #ffb8ca;
  }

  .circle {
    width: 346px;
    height: 344px;
    background: #ffa5ba;
    border-radius: 50%;
  }
}
